<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Thank you</string>
	<string>How are you</string>
	<string>Out of the question</string>
	<string>The physical world around us changes constantly</string>
	<string>If the dream is big enough the facts don&apos;t count</string>
	<string>I don&apos;t know</string>
</array>
</plist>
