<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Today I caught myself smiling for no reason, then I realized I was thinking about you.</string>
	<string>If you go to work by riding a bicycle instead of driving, you may have a better chance of getting enough exercise.
</string>
	<string>We often have thunderstorms here, but each one usually only lasts a few hours. Last time I got caught in a heavy shower, I was completely soaked.</string>
	<string>The first generation iPod shuffle is about the size of a pack of gum and the second generation iPod shuffle is about half the size of the first.
</string>
	<string>The instruction on the package says “Grill the sausage under  a medium heat, turning occasionally”.</string>
	<string>My former teacher’s name is on the top of my tongue and I will soon remember it.
</string>
	<string>Strong handshakes in America signify confidence and respect. But too strong a handshake indicates that the person is aggressive.
</string>
	<string>In China, people don’t kiss or hug each other, except their lovers.
</string>
	<string>Linda has double eyelids, a high nose with straight sides, a small mouth, a V shaped face with long curly brown hair.
</string>
	<string>We have survived all the four years’ hard work, the graduation ceremony is tomorrow. We are about to enter a brand-new stage in life.
</string>
	<string>Credit cards have brought about a revolution in people’s spending habits. Spending before you earn and overspending is in vogue nowadays.
</string>
	<string>I plan to invite my friends to that famous spicy hot pot place this weekend. Since it’s so popular and always packed, it would be a good idea to make a reservation in advance.</string>
	<string>It’s strongly recommended to take a complete physical examination every year. Seniors and people with chronic diseases should do it more often.
</string>
	<string>Everybody sings high praises for her devotion to the cause of education.
</string>
	<string>Much to our surprise and satisfaction, the landlady agreed to pay for the repairs.
</string>
	<string>I wish I didn’t make the impulsive mistake. Now you have my word and I will never go back on it.
</string>
	<string>Bob was an outgoing person who likes meeting new people and making new friends. But after a family tragedy, he became introversive with few words.
</string>
	<string>Normally, I go to the supermarket or do the laundry after dinner. But I think I’m going to the movies tonight with my buddy.</string>
	<string>In the end, it&apos;s not going to matter how many breaths you took, but how many moments took your breath away.</string>
	<string>Have you ever wondered which hurts the most: saying something and wishing you had not, or saying nothing, and wishing you had?

</string>
	<string>We come to love not by finding a perfect person, but by learning to see an imperfect person perfectly.</string>
	<string>There are no stranger in the world, only friends we haven&apos;t met.
</string>
	<string>My typical breakfast contains soybean milk or yogurt, scrambled eggs and some vegetables or fruit.</string>
	<string>My grandpa always takes an umbrella with him every time he goes out.</string>
	<string>My sister always stays in bed for another ten minutes playing with her smartphone after the alarm clock rings every morning.
</string>
	<string>During the Spring Festival there were so many parties that I kept staying up late and now I’m tired out.
</string>
	<string>If you rent a car on your trip to the States, just remember that some roads have minimum speeds in addition to speed limits.
</string>
	<string>Last month, approximately two-thirds of all transactions were made through our website -- an increase of fifty percent from a year ago.
</string>
	<string>I love the birthday gift you gave me last week. Soft sweatpants are a lot more comfy than stiff denim jeans.
</string>
	<string>I quit my last job because I want to work at a company with better compensation, better career development program, more flexible hours and better working conditions.
</string>
	<string>I need to go to the gym more often. My physician confirmed my suspicions yesterday and told me that I’m overweight.
</string>
	<string>Mike bought her wife a pair of heart-shaped earrings for their anniversary, and told her they look perfect for her oval face.
</string>
	<string>You should believe in yourself. I’m confident that your efforts will be rewarded.
</string>
	<string>Their advertising budget is three times as much as ours, but reports from independent third parties showed that our ads were twice as effective.
</string>
	<string>I’m almost certain this is not the best decision, but how can I persuade you to change your mind?
</string>
	<string>I attend aerobic classes on Mondays and Wednesdays, and work with my personal trainers on Tuesdays, Thursdays and Saturdays. I love doing sit-ups on the yoga ball.
</string>
	<string>I’m a firm believer of “You are what you eat”. So I follow a healthy diet containing lots of fruit and vegetables. I also eat a lot of fish as they are high in protein and low in fat.
</string>
	<string>Very few people become rich by winning the lottery. You are better off investing your money in the stock market or buying some mutual funds.
</string>
	<string>I told the agent that I’d like my wife to be the primary beneficiary of my life insurance policy, and our son will be the secondary beneficiary.
</string>
	<string>Put your keys in the ignition, start it up, put the car in reverse, wait for the road to be clear, and then back out of the driveway.
</string>
	<string>I absolutely adore simple fashions. That wool skirt is not really my cup of tea. I am looking for something with a cleaner design.</string>
	<string>We’ll apply some of our special day cream that will moisturize your skin and protect it from the sun. Our day cream is very high quality and is made from only the finest ingredients.
</string>
	<string>I just found a very attractive two-bedroom apartment. It has a fully fitted kitchen with a nice new fridge, cooker, kettle, toaster, microwave, and even a dishwasher!</string>
	<string>Nowadays China has very few families where four generations live under the same roof.  What’s more, some husbands and wives don’t even live in the same city any more.
</string>
	<string>Finding a soul mate is not as easy as it seems, but Olivia and Nicholas are truly a couple made by God. They finally got engaged last week and their wedding is scheduled for September.
</string>
	<string>I get along quite well with my in-laws, but my sister was often quite critical of her mother-in-law. She is now a single mom, as she divorced her ex-husband last August.
</string>
	<string>My new boss is a terrific guy. He is sensitive, optimistic and down-to-earth. He has built a much stronger team in a short period of time, and we all watch out for each other now.
</string>
	<string>It is the media that make those people so publicized that they become cultural icons. However, there have been numerous cases of paparazzi interfering with stars’ private lives.
</string>
	<string>The air quality in this city is horrendous! The pollution levels were so high today! Exhaust fumes from cars and other vehicles cause a great deal of damage to the environment.
</string>
	<string>An important client from Australia called this morning to place a large order, but I told him I had to make sure that we have enough goods in stock before confirming the order.
</string>
</array>
</plist>
